@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    font-size: 15px;
    font-family: "Roboto", sans-serif;
    
}


/* imagen de la barra */
nav img{
    width: 5vw;
}

header{
 
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100vw;
    background-color: white;
}

/* barra de navegacion */
.navbar{
   

    display: flex;
    
    flex-direction: row;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 50px;
}


.navbar-left{
    display: flex;
    flex-direction: row;
    margin-right: 25vw;
}



ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
    margin: 20px;
}

/* accion de la barra */
li:hover{
    background-color: #8ec480;
    color: #ffffff;
}
section.contenedor img{
    width: 40vw;
}

.contenedor{
    margin-top: 20px;
    width: 80vw;
    height: auto;

    display: flex;
    flex-direction: row;

    padding: 1%;

    color: white;
    
    
}


.contenedor-text{
    align-content: center;
    margin: auto;
    padding: 2%;
}
/* contenedor verde */
#contenedor-verde{
    background-color: #1e3932;
   
}

/* contenedor azul */
#contenedor-azul{
    background-color: #0044b4;
    flex-direction: row-reverse;
}

/* contenedor rojo */
#contenedor-rojo{
    background-color: #c1002d;
    
}

/* contenedor verde 2 */
#contenedor-verde2{
    background-color: #1e3932;
    flex-direction: row-reverse;
    
}

/* contenedor rojo 2 */
#contenedor-rojo2{
    background-color: #c1002d;
    
    
}

h2{

    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 900; /* Para texto en bold */
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}

p{
    text-align: center;
    color: #ffffff;

    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.75;
}

footer{
    align-items: flex-start;
    box-shadow: 0px -15px 10px rgba(0, 0, 0, 0.15);
    margin-top: 5vw;
    width: 84vw;
   
} 

#ul-footer{
    display: flex;
    flex-direction: column;
    text-align: left;
     
} 

.footer{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    justify-content: flex-start; 
    align-items: flex-start;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 45vw;   
    
   
}

.sobre-nosotros{
    line-height: 1.75;
    margin-right: 2vw;
}

.atencion-a-cliente{
    line-height: 1.75;
}

.dos-cuadros{
    margin-top: 20px;
    width: 84vw;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-left: 2vw;
    
}

.noticias{
    width: 40vw;
    display: flex;
    flex-direction: row;
    margin-right: 2vw;
    background-color:  #f6bfd9;
    
}

#img-noticias{
    width: 40vw;
}

.promociones{
    width:40vw;
    display: flex;
    flex-direction: row;
    background-color:  #98cde4;
}

#img-promociones{
    width:40vw;
}


/* Responsiva */
@media (max-width: 1024px) {
    .navbar {
        margin: 10px;
    }
    .navbar-right{
        align-self: center;
        
    }

    .navbar-right{
        display: flex;
        flex-direction: row;
        width: 60%;
        /* margin-right: 25vw; */
    }

    .navbar-left {
        margin-right: 0; 
        width: 40%;
    }

    ul {
        
        align-items: center; 
        gap: 2vw; 
    }

    a {
        margin: 1vw 0; 
        font-size: 3vw;
    }
}

@media (max-width: 768px) {
    .navbar {
        font-size: 3vw; 
    }

    nav img {
        width: 10vw; 
        margin-bottom: 1vw;
    }
}