
body{
    font-family: Arial, Helvetica, sans-serif;
}
nav img{
    width: 5vw;
}

header{
    /* align-items: flex-start;
    position: fixed; */
    position: fixed;
    top: 0;
    background: white;
    z-index: 10;
    width: 100vw;
    
}

/* barra de navegacion */
.navbar{
    display: flex;
    position: static;
    flex-direction: row;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
  
}


.navbar-left{
    display: flex;
    flex-direction: row;
    margin-right: 25vw;
}



ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
    margin: 20px;
}

/* accion de la barra */
li:hover{
    background-color: #8ec480;
    color: #ffffff;
}



/* Rewards */

.rewards-container{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    /* height: 100vh; */
    height: calc(100vh - 60px); /* Altura ajustada */
}
/* lado izquierdo */
.links-cuadrov{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;

}
.links-cuadrov a{
    color: white;
}

.links-cuadrov a:hover{
    background-color: #8ec480;
   color: black;
   
}
.cuadro-verde{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2vw;
}
.cuadro-verde p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.cuadro-verde img{
    width: 400px;
    height: auto;
}

.cuadrov-img{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.cuadrov-img img{
    width: 300px;
}
.left-container{
    position: fixed;
    top: 30px;
    margin-top: 50px;
    width: 40vw;
    height:100vh ;
    background: linear-gradient(0deg, rgb(29,57,50) 0%, rgb(10,105,75)100%);
    color: white;
    /* margin: 0; */
    padding: 50px;
}

/* lado derecho */
.right-container{
    
    margin-left: 40vw; 
    width: calc(100vw - 40vw); 
    margin-top: 0px; 
    height: calc(100vh - 50px);
    overflow-y:auto;
    padding: 30px;
}

.unete-complete{
    justify-content: center;
    padding: 40px;
    flex-direction: column;
    /* align-items: flex-start; */
    margin-left: 3vw;

    
}
.unete-container{
    text-align: center;
    color: black;
}

#unetep{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* seccion de imagenes */
.column-img1{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    padding: 20px;
   margin-left: 2vw;
   max-width: 150px;
   text-align: center;
}
/* imagen de las columnas */
.column-img1 img{
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    margin-right: 2vw;
    
}

/* parrafos columnas */
.column-img1 p{
    font-family: Arial, Helvetica, sans-serif;
}

/* columna 1 */
/* #column1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
} */

/* sgundaseccion */

.beneficios-complete{
    justify-content: center;
    padding: 60px;
    flex-direction: column;
    /* align-items: flex-start; */
    margin-left: 3vw;
    top: 0;
}
.beneficios-container{
    text-align: center;
    color: black;

}

#beneficiosp{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5vw;
}

.column2-img2{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    padding: 20px;
   margin-left: 2vw;
   max-width: 150px;
   text-align: center;
}

.column2-img2 img{
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    margin-right: 2vw;
}

.column2-img2 p{
    font-family: Arial, Helvetica, sans-serif;
}

/* tercera seccion */
.cafe-estrella{
    background-color: #f1f0eb;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    margin-left: 1vw;
    margin-right: 0;
    
}

.cafe-estrella p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.cafe-estrella img{
    width: 400px;
}

/* Cuarta sesion */
.text-recompensa{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.tutorial-recompensas{
    display: flex;
   flex-direction: row;
   

}

.tuto-izquierdo{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 300px;
    
}

.descarga{
    display: flex;
    flex-direction: row;
    margin-left: 2vw;
}

.descarga p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    
}
.descarga img{
    width: 150px;
    margin-left: 2vw;
}

.ordena{
    display: flex;
    flex-direction: row;
    margin-left: 2vw;
}

.ordena p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    
}
.ordena img{
    width: 150px;
    margin-left: 2vw;
}

.paga{
    display: flex;
    flex-direction: row;
    margin-left: 2vw;
}

.paga p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    
}
.paga img{
    width: 150px;
    margin-left: 2vw;
}

.tuto-derecho{
    display: flex;
    margin-left: 5vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tuto-derecho img{
    width: 300px;
}

.video{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7vw;
    margin-top: 4vw;
}

/* sexta seccion */


.ordena-paga{
    
    background-color: #f1f0eb;
    margin-left: 7vw;
    
    
}
.ordena-paga h3{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: row;
}

.estrella{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
 .text-ordena-paga{
    display: flex;
    text-align: center;
    font-weight: 700;
    justify-content: center;
 }

 .veinte{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    max-width: 150px;
    margin-bottom: 2vw;
    margin-left: 1vw;
 }

 .veinte img{
    width: 3vw;
    height: auto;
 }

 .diez{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    max-width: 150px;
    margin-bottom: 2vw;
    margin-left: 1vw;
 }

 .diez img{
    width: 3vw;
    height: auto;
 }

 .codigoqr{
    display: flex;
    flex-direction: column;
    margin-right: 4vw;
 }

 .sin-recargar{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    max-width: 150px;
    margin-bottom: 2vw;
    margin-left: 1vw;
 }

 .card{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    max-width: 150px;
    margin-bottom: 2vw;
    margin-left: 1vw;
 }


 .tarjeta{
    display: flex;
    flex-direction: column;
 }

 .bancaria{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    max-width: 150px;
    margin-bottom: 2vw;
    margin-left: 1vw;
 }

 .favorita{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    max-width: 150px;
    margin-bottom: 2vw;
    margin-left: 1vw;
 }

 .bancaria img{
    width: 5vw;
    height: 13vw;
 }

 .favorita img{
    width: 5vw;
    height: 13vw;
 }

 